.NotFoundPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.NotFoundPage-link {
  color: #0087E9;
}

.NotFoundPage-link:hover{
  color:#0069b6;
}

.NotFoundPage-link:active{
  color:#0087E9;
}