*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.PageLayout {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 15px 5px #0000003b;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
