.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  align-items: center;
}
.Control_item{
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.Control_item h4{
  padding-left: 20px;
}
.Control_BTN{
  width: 80px;
  height: 20px;
}
