/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-label {

}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}

.BasketTool-link-home{
  color: #0087E9;
}

.BasketTool-link-home:hover{
  color:#0069b6;
}

.BasketTool-link-home:active{
  color:#0087E9;
}